[{:itonami.blueprint/social-impact [:local-jobs :customer-access :small-retail-viability], :itonami.blueprint/domain :retail/cashier-ticketing, :itonami.blueprint/required-technologies [:robotics :forms :identity :audit-ledger :bpmn], :itonami.blueprint/isco-08 "5230", :itonami.blueprint/name "Independent Cashier & Ticketing Practice", :itonami.blueprint/governor :cashier-ticketing-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-5230", :itonami.blueprint/license "AGPL-3.0-or-later"}]